<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="text-xs-center">
    <v-layout row justify-center>
      <v-btn
        :flat="flatButton"
        :class="buttonTextColor"
        :color="buttonColor"
        v-on:click="changeColor"
        @click="expand = !expand"
        >{{ this.buttonText }}</v-btn
      >
      <v-flex shrink>
        <v-expand-x-transition>
          <div v-show="expand" style="white-space: nowrap">
            <v-dialog v-model="dialog" max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn
                  flat
                  v-on:click="changeColor"
                  @click="(dialog = true), (expand = !expand)"
                  v-on="on"
                >
                  <v-icon>add</v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Add a note!</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12>
                        <v-text-field
                          label="Who are you?"
                          required
                          type="text"
                          name="author"
                          value="author"
                          v-model="author"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          label="Write something!"
                          required
                          type="text"
                          name="message"
                          value="message"
                          v-model="message"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red lighten-2" flat @click="dialog = false"
                    >Close</v-btn
                  >
                  <v-btn
                    color="red lighten-2"
                    flat
                    @click="
                      addNote();
                      dialog = false;
                    "
                    >Send</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-btn flat>
              <v-icon>edit</v-icon>
            </v-btn>
          </div>
        </v-expand-x-transition>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      expand: false,
      buttonColor: "red lighten-2",
      changeButtonColor: true,
      buttonText: "Menu",
      flatButton: false,
      buttonTextColor: "white--text"
    };
  },

  computed: {
    message: {
      get() {
        return this.$store.state.message;
      },
      set(value) {
        this.$store.commit("UPDATE_MESSAGE", value);
      }
    },

    author: {
      get() {
        return this.$store.state.author;
      },
      set(value) {
        this.$store.commit("UPDATE_AUTHOR", value);
      }
    }
  },

  methods: {
    addNote() {
      this.$store.dispatch("addItem");
    },
    changeColor: function() {
      if (this.changeButtonColor) {
        this.buttonColor = "white lighten-2";
        this.buttonText = "X";
        this.buttonTextColor = "red--text";
        this.flatButton = true;
      } else {
        this.buttonColor = "red lighten-2";
        this.buttonText = "Menu";
        this.buttonTextColor = "white--text";
        this.flatButton = false;
      }
      this.changeButtonColor = !this.changeButtonColor;
    }
  }
};
</script>
