<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-timeline>
    <v-timeline-item
      v-for="item in items.slice().reverse()"
      :key="item.id"
      color="red lighten-2"
      large
    >
      <template v-slot:opposite>
        <span>{{ item.date | formatDate }}</span>
      </template>
      <v-card class="elevation-2">
        <v-card-title class="headline"
          >{{ item.author }}
          <v-spacer></v-spacer>
          <v-btn
            flat
            class="destroy; red--text text--lighten-2"
            @click="removeItem(item.id)"
            ><v-icon>delete</v-icon></v-btn
          >
        </v-card-title>
        <v-card-text>
          {{ item.message }}
        </v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "timeline",
  mounted() {
    this.$store.dispatch("loadItems");
  },
  computed: mapState(["items"]),
  item: {
    get() {
      return this.$store.state.item.id;
    },
    set(v) {
      this.$store.commit("updateId", v.id);
    }
  },
  methods: {
    removeItem(item) {
      this.$store.dispatch("removeItem", item);
    }
  }
};
</script>

<style scoped></style>
