<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-bold">Guest</span>
        <span class="font-weight-light">book</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <AddNote />
      <Timeline />
    </v-content>
  </v-app>
</template>

<script>
import Timeline from "./components/timeline";
import AddNote from "./components/form";

export default {
  name: "App",
  components: {
    Timeline,
    AddNote
  }
};
</script>
